<% provide(:title, "Profile") %>
<% @user = current_user %>
<div class="row">
	<div class="fb-user-wrapper span12">
		<div class="prof-pic-wrapper span4">
			<%= image_tag(@user.pic_url, alt: "Facebook Profile Picture") %>
		</div>
		<div class="span8">
			<h2><%= @user.name %> </h2>
		</div>
	</div>
	<div class="span12 results">
		<div class="cell"><span> Economic: <%= @user.result.economic_result %> </span></div>
		<div class="cell"><span> Social: <%= @user.result.social_result %> </span></div>
		<div class="cell"><span> Foreign Policy: <%= @user.result.foreign_p_result %> </span></div>
	</div>
</div>